@charset "utf-8";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: var(--clr-gray600);
  background-color: var(--clr-gray100);
}

.nav {
  position: fixed;
  width: 100vw;
  background-color: var(--clr-green-bg);
  height: 5rem;
  z-index: 50;
}

.nav_list_logo {
  list-style: none;
  cursor: pointer;
}

.nav_list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 0 2rem;
}

.nav_list_item {
  list-style: none;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.2rem;
  color: white;
  position: relative;
  padding: 1.5rem 1rem;
  cursor: pointer;
  border-right: 1px solid rgba(255, 255, 255, 0.25);
}

.nav_list_item a {
  text-decoration: none;
  color: white;
}

.nav_list_item::after {
  content: "";
  width: 0;
  height: 0.3rem;
  border-radius: 0.2rem;
  position: absolute;
  left: 1rem;
  bottom: 0.8rem;
  background-color: white;
  transition: width 200ms ease-in;
}

.nav_list_item:hover::after, .nav_list_item:focus::after {
  width: 80%;
}

.nav_list_item:hover ul, .nav_list_item:focus ul {
  opacity: 1;
  visibility: visible;
}

.nav_list_item_drop {
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0;
  position: absolute;
  top: 3rem;
  left: -1rem;
  background-color: var(--clr-green-bg);
  border-radius: 0.2rem;
  width: 14rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 200ms ease-in-out;
}

.nav_list_item_drop li {
  list-style: none;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  transition: background-color 200ms ease-in-out;
}

.nav_list_item_drop li:hover, .nav_list_item_drop li:focus {
  background-color: var(--clr-green-hover);
}

.content {
  flex: 1;
  padding: 5rem 0.5rem;
  margin: 1.2rem;
}

h1 {
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  display: flex;
  align-items: center;
  gap: 1rem;
}

footer {
  border-top: 1px solid var(--clr-gray700);
  padding: 1.1rem;
}
