@charset "utf-8";

.form-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  width: 50%;
}

.form-field {
  flex: 1 1 calc(50% - 16px);
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 0.8rem;
}

.row-buttons {
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;
}

.form-field-message {
  position: absolute;
  bottom: -1.4rem;
  left: 0;
  font-size: 0.9rem;
  color: var(--clr-error);
}

.form-field.full-width {
  flex: 1 1 100%;
}

.form-field label {
  margin-bottom: 4px;
  font-weight: bold;
}

.form-field input[type="text"],
.form-field select,
.form-field textarea {
  height: 100%;
  font-family: inherit;
  font-weight: inherit;
  outline: none;
  padding: 0.5rem;
  border: 1px solid var(--clr-gray400);
  border-radius: 4px;
  transition: border-color 200ms ease-in;
}

.form-field input[type="text"]:hover,
.form-field select:hover,
.form-field textarea:hover {
  border-color: var(--clr-primary);
}

.form-field input:focus,
.form-field select:focus,
.form-field textarea:focus {
  border-color: var(--clr-primary-dark);
  box-shadow: 0 0 0 .2em #a6d5fa;
}


@media (max-width: 768px) {
  .form-field {
    flex: 1 1 100%;
  }
}

.btn-default {
  margin: 2rem 0.2rem 2rem 0.2rem;
  padding: 0.75rem 2rem;
  display: inline-block;
  background-color: var(--crl-btn-default-green);
  color: var(--clr-gray100);
  font-family: inherit;
  font-weight: 600;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  cursor: pointer;
  transition: background-color 200ms ease-in;
}

.btn-form-save {
  margin: 2rem 0 2rem 0;
  background-color: #ea525f;
  width: 8rem;
  height: 3rem;
  color: var(--clr-gray100);
  font-family: inherit;
  font-weight: 700;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  cursor: pointer;
  transition: background-color 200ms ease-in;
  display: inline-block;
}

.btn-form-cancel {
  margin: 2rem 0 2rem 0;
  background-color: #9a736e;
  width: 8rem;
  height: 3rem;
  color: var(--clr-gray100);
  font-family: inherit;
  font-weight: 700;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  cursor: pointer;
  transition: background-color 200ms ease-in;
  display: inline-block;
}

.btn-default:hover {
  background-color: var(--crl-btn-default-green-hover);
}

.btn-form-save:hover {
  background-color: #8c3139;
}

.btn-form-cancel:hover {
  background-color: #5c4542;
}


.pagination-btn {
  padding: 0.6em 1em;
  color: #e1e5ee;
  font-weight: 600;
  margin: 8px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  background-color: #009879;
  display: inline-flex;
  align-items: center;
  gap: 0.5em;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.pagination-btn:disabled {
  padding: 0.6em 1em;
  font-weight: 500;
  margin: 8px;
  border-radius: 4px;
  border: none;
  display: inline-flex;
  align-items: center;
  gap: 0.5em;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  background-color: #cccccc;
  color: #666666;
  opacity: 0.5;
  cursor: not-allowed;
  font-style: italic;
}

.pagination-btn i {
  font-size: 1.2rem;
}

.pagination-bottom {
  padding: 1rem;
  text-align: center;
}

table {
  border: none;
  border-collapse: collapse;
  box-shadow: 0 8px 10px var(--clr-gray300);
  text-align: left;
  overflow: hidden;
}

table td,
table th {
  border: none;
}

thead {
  box-shadow: 0 5px 10px var(--clr-gray300);
}

th {
  background-color: #734561;
  padding: 1rem 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 0.8rem;
  font-weight: 900;
  color: #fff;
  border: none;
}

td {
  padding: 1rem 2rem;
}

a {
  text-decoration: none;
  color: var(--clr-link);
}

tr:nth-child(even) {
  background-color: var(--clr-gray200);
}

/* OVERLAY BEGIN */
#loading-overlay {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  text-align: center;
  transition: opacity 0.3s ease;
}

#loading-overlay.show {
  display: block;
  opacity: 1;
}

#loading-overlay.hide {
  opacity: 0;
  pointer-events: none;
}

#loading-overlay-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#loading-overlay i {
  font-size: 3em;
  color: white;
  animation: spin 1s linear infinite;
}

#loading-text::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  padding: 0.8rem;
  margin-left: 8px;
  top: 0;
  bottom: 0;
  border: 4px solid transparent;
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}

#loading-overlay p {
  color: white;
  margin-top: 1em;
  font-size: 1.5em;
}

/* OVERLAY END */


/* ALERTS BEGIN */
.toast-container {
  position: fixed;
  top: 12%;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem; /* espaço entre os toasts */
  z-index: 999;
}

.alert {
  padding: 20px 40px;
  min-width: 420px;
  z-index: 999;
  border-radius: 4px;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
}
.alert.showAlert {
  opacity: 1;
  pointer-events: auto;
}
.alert.show {
  animation: show_slide 1s ease forwards;
}
@keyframes show_slide {
  0%{
    transform: translateX(100%);
  }
  40%{
    transform: translateX(-10%);
  }
  80%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(-10px);
  }
}
.alert.hide {
  animation: hide_slide 1s ease forwards;
}
@keyframes hide_slide {
  0%{
    transform: translateX(-10px);
  }
  40%{
    transform: translateX(0%);
    opacity: 1;
  }
  80%{
    transform: translateX(-10%);
    opacity: 1;
  }
  100%{
    transform: translateX(100%);
    opacity: 0;
  }
}
.alert .fa-exclamation-circle {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
}
.alert .msg {
  padding: 0 20px;
  font-size: 18px;
  list-style: none;
  display: inline-grid;
}
.alert .close-btn {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 20px 18px;
  cursor: pointer;
}

.alert .close-btn .fas {
  font-size: 22px;
  line-height: 40px;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

.alert.error {
  background: #fdecea;
  border-left: 8px solid #c62828;
  color: #c62828;
}

.alert.error > .close-btn {
  background: #e8d9d8;
}

.alert.error .close-btn:hover {
  background: #d4c2c1;
}

.alert.error .close-btn .fas {
  color: #c62828;
}

/* END ERROR Toast */

.alert.warn {
  background: #fff4e5;
  border-left: 8px solid #ff9800;
  color: #ff9800;
}


.alert.warn  > .close-btn {
  background: #ede2d3;
}

.alert.warn .close-btn:hover {
  background: #ebdcc7;
}

.alert.warn .close-btn .fas {
  color: #ff9800;
}

/* END WARNING Toast */

.alert.info {
  background: #e8f4fd;
  border-left: 8px solid #2196f3;
  color: #2196f3;
}

.alert.info > .close-btn {
  background: #dde7f0;
}

.alert.info .close-btn:hover {
  background: #d5e4f2;
}

.alert.info .close-btn .fas {
  color: #2196f3;
}

/* END INFO Toast */

/* ALERTS END */

.input-error {
  border: 1px solid rgba(198, 40, 40, 0.5) !important;
  box-shadow: 0 1px 4px rgba(198, 40, 40, 0.5);
}

.breadcrumb {
  padding: 2rem 0;
}

.breadcrumb ol {
  list-style: none;
  display: flex;
  gap: 0.3rem;
}
.breadcrumb li::after {
  content: ">";
  color: rgba(192,192,192, 1);
  margin: 0 0.3rem;
}
.breadcrumb li:last-child::after {
  content: "";
}

.breadcrumb a {
  transition: font-weight 200ms ease-in-out;,
  border-bottom-width 100ms ease-in-out;
}

.breadcrumb a:hover {
  font-weight: bold;
}

.current-breadcrumb {
  color: #002e34;
  border-bottom: 1px solid #002e34;
  font-weight: bold;
}

/** PREVIEW PHOTO **/

.container-input-photo {
  max-width: 400px;
  width: 100%;
  background: #fff;
  border-radius: 30px;
}
.img-area {
  position: relative;
  width: 100%;
  height: 240px;
  background: var(--clr-gray300);
  margin-bottom: 30px;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.img-area .icon {
  font-size: 10rem;
}
.img-area h3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 6px;
  margin-top: 6px;
}
.img-area p {
  color: var(--clr-gray500);
}
.img-area p span {
  font-weight: 600;
}
.img-area img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 100;
}
.img-area::before {
  content: attr(data-img);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  color: #fff;
  font-weight: 500;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  transition: all .3s ease;
  z-index: 200;
}
.img-area.active:hover::before {
  opacity: 1;
}

.upload-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--crl-btn-default-green);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s ease;
  width: 15%;
}

.upload-btn i {
  margin-right: 8px;
}

.upload-btn:hover {
  background-color: var(--crl-btn-default-green-hover);
}


input[disabled] {
  background-color: #f0f0f0;
  color: var(--clr-gray700);
  cursor: not-allowed;
  opacity: 1;
}

.text-input-disabled {
  border: 1px solid rgba(42, 50, 75, 0.3);
  padding: 0.5rem;
  text-transform: uppercase;
  color: #909090;
  font-weight: 500;
  background-color: #f0f0f0;
  cursor: not-allowed;
  box-shadow: 1px 2px 2px rgba(42, 50, 75, 0.5);
}


.export {
  font-size: 18px;
  padding: 0.6rem 0.6rem;
  font-weight: 500;
  cursor: pointer;
  color: #00a86b;
  background-color: var(--clr-gray100);
  border: 1px solid #00a86b;
  border-radius: 5px;
  transition: color 200ms ease-in,
  border-color 200ms ease-in;
}

.export:hover {
  color: #2e8b57;
  border-color: #2e8b57;
  background-color: var(--clr-gray150);
}

.filter-sidebar {
  font-size: 1.5rem;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
  color: white;
  background-color: #00a86b;
  transition: background-color 200ms ease-in;
}

.filter-sidebar:hover {
  background-color: #2e8b57;
}